.sidebar {
    background-image: linear-gradient(#6a11cb 0%, #3b25fc 100%);
    width: 250px;
    font-size: 14px;
}

.sidebar-column {
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    color: #fff;
    padding: 14px;
}

.sidebar-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.sidebar-item .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}