/* App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Geneva, Verdana, sans-serif;
}

.mb-2 {
  margin-bottom: 12px;
}

.container {
  margin: 0 auto;
  height: 100vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.form-container {
  padding: 16px;
  width: 350px;
  margin: 0 auto;
  margin-top: 50px;
}

.form-control {
  margin-bottom: 16px;
}

.form-control label {
  display: block;
  margin-bottom: 8px;
}

.form-control input[type="text"],
.form-control input[type="password"],
.form-control input[type="email"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.form-switch {
  margin-top: 16px;
  font-size: 15px;
}

.form-switch a {
  color: #007bff;
  text-decoration: none;
}

.form-switch a:hover {
  text-decoration: underline;
}

.form-container.signup-form,
.form-container.login-form {
  padding: 16px;
  width: 350px;
  margin-left: 16px;
}

.form-container.signup-form .form-header,
.form-container.login-form .form-header {
  margin-bottom: 16px;
  text-align: center;
}

.css-6uzb1x {
  padding-left: 44px !important;
  padding-top: 24px !important;
  width: 80vw !important;
  margin-left: 16px !important;
}

.css-rqglhn-MuiTable-root {
  background-color: #daedf19e;
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: #fdfbc8 !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: #fdfbc8 !important;
}

.css-9npbnl-MuiFormLabel-root-MuiInputLabel-root {
  color: #000 !important;
}

.col-md-3 {
  flex: 0 0 15%;
  max-width: 15%;
}

.col-md-9 {
  flex: 0 0 85%;
  max-width: 85%;
  background-color: #d5d8df;
}

.col-md-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.sidebar {
  background-image: linear-gradient(#6a11cb 0%, #3b25fc 100%);
  width: 260px;
  font-size: 14px;
}

.sidebar-column {
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  color: #fff;
  padding: 14px;
}

.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.sidebar-item .nav-link {
  color: #fff;
  text-decoration: none;
  padding: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.home-container {
  margin-top: 20px;
  text-align: center;
}

.not-found-container {
  width: 100%;
  max-width: 500px;
  margin: 10rem auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.not-found-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.not-found-message {
  font-size: 18px;
}

.not-found-message a {
  font-weight: 500;
  color: #000;
}

.not-found-message a:hover {
  text-decoration: none;
}

.input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.input-wrapper .input-label {
  margin-right: 8px;
  flex: 0 0 30%; 
  /* width: 30%; */
  text-wrap: nowrap;
  font-size: 14px !important;
}

.input-label-2 {
  margin-bottom: 8px;
  font-size: 13px !important;
}

.input-wrapper .input-field {
  flex: 1;
  background: #fdfbc8;
  border-radius: 4px;
}

.input-wrapper .supplier-adjustment{
  flex: 0 0 20% !important;
}

.input-wrapper .store-adjustment{
  flex: 0 0 41% !important;
}

.input-wrapper .entryno-adjustment{
  flex: 0 0 30% !important;
  margin-left: 20px;
}

.table-header {
  background-color: #91cbff;
}

.css-15wwp11-MuiTableHead-root {
  background-color: #d5d8df;
}

@media (max-width: 768px) {
  .form-container {
    width: 80%;
    margin-top: 20px;
  }

  .col-md-3,
  .col-md-9 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}